/*
##########
       Universal Rules
##########
*/

body {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


/*
##########
       Header
##########
*/
 header {
   height: 69px;
   position: fixed;
   border-bottom: 1px solid seashell;
   background-color: inherit;
   z-index: 1;
   width: 100%;
   justify-content: space-between;
 }

 header img {
   height: 50px;
   padding-left: 10px;
 }

nav {
  text-decoration: underline;
  display: inline-flex;
  width: 380px;
  justify-content: space-between;
  padding-right: 40px;
}

nav a {
  color: seashell;
}


/*
##########
       Content
##########
*/

.content {
  padding-top: 69px;
  margin: auto;
  width: 1200px;
}
/*
######
  Mission Part
######
*/

#mission {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.text {
  background-color: black;
  width: inherit;
}


/*
######
  Store Part
######
*/

#store {
  display: block;
  width: 1000px;
}

.item img{
  height: 200px;
  width: 300px;
}

/*
######
  Locations Part
######
*/

#locations {
  background-image: url(../images/img-locations-background.jpg);
}
